<article>
    <h1><a href="https://www.youtube.com/watch?v={{ message.id }}" target="_blank" rel="noopener noreferrer">{{ message.title }}</a></h1>
    <p class="author-name"><a href="{{ message.authorURL }}" target="_blank" rel="noopener noreferrer">{{ message.author }}</a></p>
    <iframe class="youtube-embed" type="text/html" width="640" height="385" src="https://www.youtube.com/embed/{{ message.id }}" frameborder="0"></iframe>
    <p><a href="{{ message.URL }}" target="_blank" title="{{ message.date|date('D M j Y, H:i:s') }}" rel="noopener noreferrer">{{ message.date|time_diff }}</a></p>
    {% if app.debug %}<p>{{ message.fetchSource }}</p>{% endif %}
</article>
