<article>
    <h1><a href="{{ message.authorURL }}" target="_blank"><img src="{{ message.authorThumbnail|replace({'_normal.': '_mini.'}) }}" alt="Profile image of {{ message.author }}"> {{ message.author }}</a></h1>
    <p class="author-name">@{{ message.screenName }}</p>
    <p class="twitter--message-body">{{ message.body|raw }}</p>
    <p><a href="{{ message.URL }}" target="_blank" title="{{ message.date|date('D M j Y, H:i:s') }}">{{ message.date|time_diff }}</a></p>
    <p>{{ message.fetchSource }}</p>
</article>
